.DS_STORE
*.class
*.*#
*.*~
*.swp
temp.txt
gnuplot/*.csv
dpd.csv
gnuplot/*.dat
gnuplot/*.png
tinker_minimization_jobs/*tinker*.*
tinker_analysis_jobs/*tinker*.*
checkpoints/*.chk
checkpoints/*.gjf
checkpoints/*.bak
checkpoints/bak*/*
chi_fitting/*
omnisol/*OMNISOL*.*
omnisol/fort.21
peptide*.gjf
peptide*.xyz
test_peptides/peptide*
best/*.log
best/*.gjf
best/*.txt
best/*.chk
best/chk/*.chk
best/bak_chk/*.chk
best/gjf/*.gjf
best/bak_gjf/*.gjf
*.out
gaussian_analysis_jobs/*.gjf
dumps/smasher*.xyz
dumps/smasher*.gjf
dumps/*.xyz
dumps/xyz/*.xyz
dumps/gjf/*.gjf
dumps/gjf/output/*.out
dumps/components/*.gjf
dumps/components/*.out
dumps/gjf/mandor*
dumps/TS_water
dumps/energies.txt
dumps/g09.txt
dumps/amoeba.txt
dumps/names.txt
dumps/*.csv
dumps/TS*
g09_scans/combined.xyz
g09_scans/rigidScan/*.log
test_peptides/*.gjf
test_peptides/*.xyz
test_peptides/*.txt
forcefield_jobs/dae*
forcefield_jobs/enj*
javadoc/*
benchmark/dae*
benchmark/enj*
benchmark/holy*
benchmark/*.xyz_2
g09_scans/rigidScan/*.log
g09_scans/rigidScan/*.csv
gc.log
g09_scans/rigidScan/combined.xyz
g09_scans/rigidScan/done/*
g09_scans/rigidScan/*.txt
g09_scans/rigidScan/waiting/*
reference_energies/*.txt
amino_acids/*.pdb
